<nb-card>
    <nb-card-header>Cab registration</nb-card-header>
    <nb-card-body>

        <div class=" input-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Vehicle No">
            </mat-form-field>
        </div>
        <div class="input-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Vehicle RC">
                <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
            </mat-form-field>
        </div>
        <div class="input-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Insurance Copy">
                <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
            </mat-form-field>
        </div>
        <div class="input-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Driver Name">
                <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
            </mat-form-field>
        </div>
        <div class="input-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Driver Licence ">
                <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
            </mat-form-field>
        </div>
        <div class="input-group">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Id Proof">
                <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
            </mat-form-field>
        </div>
        <div class="input-group">
            <button mat-raised-button color="primary">Save</button>
        </div>

    </nb-card-body>
</nb-card>