<nb-card>
  <nb-card-header>Add Transport Admin</nb-card-header>
  <nb-card-body>

      <div class=" input-group">
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Driver Name">
          </mat-form-field>
      </div>
      <div class="input-group">
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Mobile Number">
              <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
          </mat-form-field>
      </div>
      <div class="input-group">
          <mat-form-field class="example-full-width">
              <input matInput placeholder="ID Proof">
              <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
          </mat-form-field>
      </div>
      <div class="input-group">
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Driver Licence">
              <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
          </mat-form-field>
      </div>
      <div class="input-group">
          <button mat-raised-button color="primary">Save</button>
      </div>

  </nb-card-body>
</nb-card>