<div class="row">
  <div class="col-xxxl-4 col-md-4">
    <ngx-status-card title="On Going" type="success" count="122">
      <i class="fa fa-car"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-4 col-md-4">
    <ngx-status-card title="Up coming" type="primary" count="132">
      <i class="fa fa-car"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-4 col-md-4">
    <ngx-status-card title="Delayed" type="info" count="2">
      <i class="fa fa-car"></i>
    </ngx-status-card>
  </div>

</div>

<div class="row">
  <div class="col-xxxl-12 col-xl-12">
    <ngx-gmaps></ngx-gmaps>
  </div>
</div>
